@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i&display=swap');

html, body {
  margin: 0;
  font-family: 'Lato',sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.display-4 {
  font-family: 'Playfair Display', serif;
  opacity: 0.7;
}

/* --- Home styles ---*/
.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.landing-text h1 {
  font-size: 500%;
  font-weight: 700;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: .1rem;
  text-transform: uppercase;
}

.landing-text h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
}

/*--- Navbar styles ---*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.login {
  width: 80px;
  height: 40px;
  border: 1px solid grey;
  text-align: center;
}

/*--- About styles ---*/
#about .container {
  margin-top: 3rem;
}
#about h3 {
  font-family: 'Oswald', sans-serif;
}

/* Login/ Sign up Form Styles */
form {
  width: 40%;
  margin: auto;
  margin-top: 3rem;
}

/*--- Value styles ---*/
#value .container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#value .card {
  height: 180px;
  margin-bottom: 3rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

#value .card-header {
  text-transform: uppercase;
  font-weight: 700;
  background-color: #7bc7af;
  opacity: 0.8;
  color: white;

}

#value .card-text {
  text-align: center;
  font-size: 1.1rem;
}

/*--- Jumbotron styles ---*/
#jumbotron .jumbotron {
  background-image: url("./images/edit-dg2.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
}

/*--- How it works styles ---*/
.work-row {
  margin-bottom: 8rem;
}
.work-item {
  width: 200px;
  height: 250px
}
.title {
  text-transform: uppercase;
}
.middle {
  border-right: 5px solid #7bc7af;
  border-left: 5px solid #7bc7af;
}

/*--- Membership styles ---*/
#membership {
  background-color: #edfcf1;
}
#membership .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.member-item {
  width: 250px;
  height: 120px;
  margin: auto;
}
.heavy {
  font-weight: 700;
  font-size: 1.5rem;
  color: #e63929;
}

/*--- Registration styles ---*/
#registration .container {
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.register-inner {
  width: 70%;
  margin: auto;
}

#registration .btn {
  background-color: #e63929;
  text-transform: uppercase;
  outline: none;
  border-style: none;
  width: 200px;
  height: 60px;
}
#registration .btn:focus {
  outline: none;
}
#registration .btn:hover {
  background-color: #b50b43;
}

/*--- Contact Styles --*/
#contact {
  background-color: #072363;
  color: white;
}
#contact .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


/*---Map Styles --*/
.map-outer {
  width: 100%;
  margin-left: 0;
}
.map-container { 
  height: 350px;
  width: 100%; 
  display: flex;
  flex-flow: row nowrap; 
  justify-content: center;
  padding: 0;  
}

/*--- Founder Styles --*/
#founder .narrow {
  width: 90%;
  margin: 1.5rem auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
#founder img {
  width: 280px;
  height: 280px;
  object-fit: cover;
}

#founder .container {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

#founder cite {
  font-size: 1.5rem;
}

/*---Blog Styles --*/
#blog .container {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
#blog .card {
  height: 400px;
  margin-bottom: 2rem;
}
#blog cite {
  color: #7bc7af;
}


/*---Media Queries --*/
@media (max-width: 992px) {
  /*---How it works styles --*/
  .work-item {
    width: 300px;
    height: 200px;
    margin: auto;
  }
  .middle {
    border-right: none;
    border-left: none;
    border-bottom: 5px solid #7bc7af;
    margin-bottom: 1rem;
  }
  .left {
    border-bottom: 5px solid #7bc7af;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .display-4 {
    font-size: 2rem;
    opacity: 0.7;
  }
  .landing-text h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .landing-text h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  /*---Value styles --*/
  #value .card {
    height: 200px;
  }
  /*---How it works styles --*/
  .work-item {
    width: 400px;
    height: 300px;
    margin: auto;
  }
  .middle {
    border-right: none;
    border-left: none;
    border-bottom: 5px solid #7bc7af;
    margin-bottom: 1rem;
  }
  .left {
    border-bottom: 5px solid #7bc7af;
    margin-bottom: 1rem;
  }
  .right {
    height: 150px;
  }
  /*---Membership styles --*/ 
  .member-item {
    width: 400px;
    height: 120px;
  }
  /*---Registration styles --*/ 
  .register-inner {
    width: 100%;
    margin: auto;
  }
  /*---Map Styles --*/
  .map-container {
    width: 300px;
    height: 300px;
  }
  
  /*---Founder page styles --*/ 
  #founder img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  /*---Blog page styles --*/ 
  #blog .card-text {
    font-size: 1.5rem;
  }
  #blog .card-body {
    height: 200px;
  }
  /* Form Styles */
  form {
    width: 90%;
  }
}



@media (max-width: 576px) {
  /*---Map Styles --*/
  .map-container {
    width: 300px;
    height: 300px;
    margin: auto;
  }
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/